@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&display=swap");
*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  all: unset;
}

.container {
  max-width: 1248px;
  margin: 0 auto;
}

@media (max-width: 961px) {
  .container {
    max-width: 928px;
    padding: 10px;
  }
}
@media (max-width: 380px) {
  .container {
    max-width: 343px;
  }
}
.btn {
  border-radius: 8px;
  padding: 10px 12px;
  font-size: clamp(0.8125rem, 0.7655rem + 0.2151vw, 0.9375rem);
  font-family: "Inter";
  font-weight: 600;
  letter-spacing: 0.5%;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.5s;
  white-space: nowrap;
}

.btn-orange {
  background-color: rgb(234, 179, 8);
}
.btn-orange:hover {
  background-color: rgb(254, 199, 28);
}
.btn-orange:active {
  background-color: rgb(204, 149, 0);
}

.bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  z-index: 999;
}

.blue-btn {
  background-color: rgb(37, 129, 235);
}
.blue-btn:hover {
  background-color: rgb(67, 159, 255);
}
.blue-btn:active {
  background-color: rgb(7, 99, 205);
}

.header {
  padding: 16px 0 10px 0;
  z-index: 1000;
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.header-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-body_right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
}
.header-body_right-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 8px;
}
.header-body_right-cart:hover {
  border: 1px solid rgb(37, 129, 235);
}
.header-body_right-cart:active {
  border: 1px solid rgb(7, 99, 205);
}
@media (max-width: 600px) {
  .header-body_right-btn {
    display: none;
  }
}

.cart-img {
  background-image: url(/images/icons/cart-initial.svg);
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.3s ease;
  cursor: pointer;
}

.cart-img:hover {
  background-image: url(../images/icons/cart-hover.svg);
}

.cart-img:active {
  background-image: url(../images/icons/cart-press.svg);
}

.nav_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 8px 0;
  position: relative;
}
@media (max-width: 961px) {
  .nav_list {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-150%);
    transition: all 1s ease-in;
    flex-direction: column;
    width: 100%;
    background-color: rgb(255, 255, 255);
    opacity: 0;
  }
}
.nav_item-btn {
  margin-bottom: 30px;
  margin-top: 10px;
}
@media (min-width: 600px) {
  .nav_item-btn {
    display: none;
  }
}
.nav_link {
  font-family: "Inter";
  font-weight: 500;
  letter-spacing: 0.5%;
  color: rgb(31, 41, 55);
  font-size: clamp(0.8125rem, 0.7655rem + 0.2151vw, 0.9375rem);
  position: relative;
  display: inline-block;
  transition: all 0.5s;
}
.nav_link:hover {
  color: #2581eb;
}
.nav_close {
  display: none;
  transition: all 1s;
}
@media (max-width: 961px) {
  .nav_close {
    width: 12px;
    height: 12px;
    cursor: pointer;
  }
}

.catalog {
  margin-left: 8px;
  text-align: center;
}

@media (max-width: 961px) {
  .catalog {
    display: none;
  }
}
.active-nav {
  position: relative;
  display: inline-block;
  transition: all 0.5s;
}

.active-nav::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 28px;
  width: 100%;
  left: 0;
  height: 2px;
  background-color: rgb(37, 129, 235);
}

.active-link {
  color: rgb(37, 129, 235);
}

.burger {
  display: none;
}
@media (max-width: 961px) {
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 11px;
    border: 1px solid rgb(254, 199, 28);
    border-radius: 8px;
    transition: all 0.5s;
    z-index: 1000;
  }
}

.burger:hover {
  background-color: rgb(254, 199, 28);
}

.burger:active {
  background-color: rgb(204, 149, 0);
}

.burger div {
  width: 13px;
  height: 0.5px;
  background-color: rgb(30, 30, 30);
  transition: all 0.5s;
}

.burger:active div {
  background-color: rgb(255, 255, 255);
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.mobile-menu {
  transform: translateY(37%);
  opacity: 1;
}

@media (max-width: 601px) {
  .mobile-menu {
    transform: translateY(22%);
  }
}
.top {
  padding-top: 76px;
  position: relative;
  overflow: hidden;
}
.top_img {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}
@media (max-width: 1262px) {
  .top_img {
    transform: translateX(40%);
  }
}
@media (max-width: 678px) {
  .top_img {
    transform: translateX(3%);
    top: 30%;
  }
}
.top_imageWrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.top_imageWrap-sticker {
  position: absolute;
  width: clamp(64px, 64px + 0.0602 * (100vw - 350px), 120px);
  height: auto;
  top: 43%;
  left: -10%;
}
.top_imageWrap-duck {
  padding-top: 90px;
  width: 80%;
  height: auto;
  display: block;
  width: clamp(300px, 300px + 32.26vw, 600px);
}
@media (max-width: 1382px) {
  .top_imageWrap-duck {
    width: clamp(300px, 300px + 12.15vw, 450px);
  }
}
.top_body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 198px;
}
@media (max-width: 1262px) {
  .top_body {
    flex-direction: column;
    margin-bottom: 143px;
  }
}
.top_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 44px;
}
@media (max-width: 1262px) {
  .top_menu {
    gap: 24px;
  }
}
@media (max-width: 838px) {
  .top_menu {
    flex-direction: column;
    justify-content: start;
    align-items: self-start;
  }
}
.top_menu-icon {
  fill: #201f29;
  cursor: pointer;
  transition: all 0.5s;
}
.top_menu-icon:hover {
  fill: #2581eb;
}
.top_menu-item {
  display: flex;
  align-items: center;
  gap: 17px;
  white-space: nowrap;
}
.top_menu-link {
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: rgb(30, 30, 30);
  transition: all 0.5s;
  cursor: pointer;
}
.top_menu-link:hover {
  color: #2581eb;
}

.right_title {
  padding-top: 115px;
}
@media (max-width: 1262px) {
  .right_title {
    padding-top: 0;
  }
}
.right_subtitle {
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: rgb(31, 41, 55);
  max-width: 315px;
  margin-left: 150px;
  line-height: 20px;
  margin-bottom: 8px;
}
@media (max-width: 1262px) {
  .right_subtitle {
    margin-left: 0;
  }
}
.right_btn {
  margin-left: 150px;
  max-width: 156px;
  text-align: center;
}
@media (max-width: 1262px) {
  .right_btn {
    margin-left: 0;
  }
}

.top-text {
  font-size: clamp(5.75rem, 4.3387rem + 6.4516vw, 9.5rem);
  font-weight: 700;
  font-family: "Jura", sans-serif;
  text-transform: uppercase;
  color: rgb(30, 30, 30);
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  opacity: 0;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: rgb(255, 255, 255);
  max-width: 417px;
  border-radius: 20px;
}
.modal_body {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (max-width: 961px) {
  .modal_body {
    padding: 20px 16px;
  }
}
.modal_close {
  width: 10px;
  height: 10px;
  align-self: flex-end;
  cursor: pointer;
}
.modal_label {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: black;
}
.modal_input {
  min-width: 290px;
  width: 100%;
  border: 1px solid rgb(241, 241, 241);
  border-radius: 14px;
  padding: 12px 16px;
}
.modal_input::-moz-placeholder {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.875rem, 0.828rem + 0.2151vw, 1rem);
  font-weight: 500;
  color: rgb(167, 167, 167);
}
.modal_input::placeholder {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.875rem, 0.828rem + 0.2151vw, 1rem);
  font-weight: 500;
  color: rgb(167, 167, 167);
}
.modal_btn {
  margin-bottom: 8px;
  text-align: center;
}
.modal_info {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgb(167, 167, 167);
  line-height: 22px;
}

.star {
  color: rgb(255, 108, 45);
}

.text-modal {
  color: rgb(37, 129, 235);
}

.active-modal {
  opacity: 1;
}/*# sourceMappingURL=styles.css.map */