@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&display=swap");

$font-jura: "Jura";
$font-inter: "Inter";

$color-white: rgba(255, 255, 255, 1);

$color-orange: rgba(234, 179, 8, 1);
$color-yellow: rgba(254, 199, 28, 1);
$color-darkOrange: rgba(204, 149, 0, 1);

$color-blue: rgba(37, 129, 235, 1);
$color-lightBlue: rgba(67, 159, 255, 1);
$color-darkBlue: rgba(7, 99, 205, 1);

$text-light: rgba(31, 41, 55, 1);
$text-dark: rgba(30, 30, 30, 1);

// .img-1 {
//   background-image: url("/assets/images/1.svg");
// }
// .bodyCol:hover .img-1 {
//   background-image: url("/assets/images/4W.svg");
// }

// .active-nav::after {
//   content: "";
//   display: inline-block;
//   position: absolute;
//   top: 48px;
//   left: 0;
//   width: 100%;
//   height: 2px;
//   background-color: $color-violet;
// }
